{% set tag = page.courrier %}

<html lang="ar" dir="rtl">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <style type="text/css">
            @page {
                margin: 170pt 50pt 40pt;
                font-family: "DejaVu Sans", "sans-serif";
                src: url("vendor/dompdf/dompdf/lib/fonts/DIN-Next-LT-Arabic-Light.ttf") format("truetype");
            }
            #header {
                position: fixed;
                left: 0;
                top: -110pt;
                right: 0;
                height: 90pt;
                margin-bottom: 0;
            }

            #header-left, #header-right {
                width: 35%;
                text-align: center;
                padding: 0;
                margin: -20;
                border-bottom: medium double #777; /* Apply border-bottom to individual sections */
            }

            #header-left {
                position: absolute;
                left: 0;
            }

            #header-right {
                position: absolute;
                right: 0;
            }

            #footer p {
                position: fixed;
                width: 200pt;
                text-align: center;
            }

            .gras {
                font-weight: bold;
            }
            .centrer {
                text-align: center;
            }
            .t6 {
                font-size: 6pt;
            }
            .t8 {
                font-size: 8pt;
            }
            .t9 {
                font-size: 9pt;
            }
            .t10 {
                font-size: 10pt;
            }
            .t12 {
                font-size: 12pt;
            }
        </style>
    </head>
    <body>
        <div id="header">
            <div id="header-left">
                Docteur<br>
                <span class="gras" style="font-size: 16pt;">{{ tag.AuteurInitial_identiteUsuelle }}</span><br>
                {{ tag.AuteurInitial_titre }}<br><br>
                <div class="t8" style="position: relative; top: -20pt; width: 100%; vertical-align: bottom; text-align: center; padding: 0; margin: 0;">
                    <br>
                    {{ tag.AuteurInitial_adresseProLigne1 }} - {{ tag.AuteurInitial_adresseProLigne2 }}
                    <br>
                    <br>
                    Tél: 73 486 571
                </div>
            </div>
            <div id="header-right" dir="rtl" lang="ar">
                الدكتور<br>
                <span class="gras" style="font-size: 16pt;">علاء الدين الميلي</span><br>
                طبيب أسنان<br><br>
                <div class="t8" style="position: relative; top: -20pt; width: 100%; vertical-align: bottom; text-align: center; padding: 0; margin: 0;">
                    <br>
١، نهج حسن البرجي 5020 جمال        
                    <br>
                    <br>
                    73 486 571 :الهاتف
                </div>
            </div>
        </div>
        
        <!-- stop head -->
        <div class="t9">